@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White Background */
}

/* VSCode Browser prefers dark mode for some reason */
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White Text */
    --background-start-rgb: 0, 0, 0; /* Black Background */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}